body {
	margin: 0;
}

.page-content {
	width: 100%;
	margin: 0 auto;
	background-image: url('https://images.app.ridemotive.com/y1i4tmsx12errib85uqmwl57itab');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-content {
	background-color: rgba(0, 0, 0, 0.7);
	width: 1000px;
	border-radius: 15px;
	margin: 185px 0;
	font-family: sans-serif;
	color: whitesmoke;
	font-weight: bold;
	font-size: 15px;
	position: relative;
}

.form-content .form-detail {
	padding: 30px 100px 30px 80px;
	position: relative;
}

.form-content .form-detail h1 {
	color: rgb(198, 61, 61);
	font-size: 35px;
	text-align: center;
	padding: 16px 0 13px;
	margin-bottom: 55px;
}

.form-content .form-row-total {
	display: flex;
	justify-content: space-between;
}

.form-content .form-row {
	width: 45%;
}

.form-content .form-detail .form-row-last {
	text-align: center;
}

.form-content .form-detail .input-text {
	margin-bottom: 45px;
}

.form-content .form-detail input,
.form-content .form-detail select {
	width: 100%;
	margin-top: 5px;
	padding: 14.5px 30px; 
	box-sizing: border-box; 
	border: 2px solid #af6161;
	border-radius: 7px;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: black;
	background: rgba(255, 255, 255, 0.6);
}


input::-webkit-input-placeholder,
select:invalid {
	color: black;
	font-size: 14px;
}


select {
	background-image: url("https://images.app.ridemotive.com/y1i4tmsx12errib85uqmwl57itab");
	cursor: pointer;
	width: 100%;
}

.form-content .form-detail button {
	background: #f25d5d;
	border-radius: 12px;
	width: 180px;
	padding: 15px;
	border: none;
	margin: 20px 0 73px 35px;
	text-align: center;
	cursor: pointer;
	font-family: sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}

.form-content .form-detail button:hover {
	background: #cf4141;
}








/* Results Page CSS */

.results {
    margin: 0;
}
.results .page-content {
	width: 100%;
	margin:  0 auto;
	background-image: url('https://images.app.ridemotive.com/y1i4tmsx12errib85uqmwl57itab'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}
.results .page-content .results-form  {
    background-color: rgba(0, 0, 0, 0.7);
	width: 1000px;
    height: 300px;
	border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin: 185px 0;
    padding: 30px;
	font-family: sans-serif;
	color: whitesmoke;
	font-weight: bold;
	font-size: 15px;
	position: relative;
    text-align: center;
}

.results .page-content .results-form h1 {
    color: rgb(198, 61, 61);
	font-size: 35px;
	text-align: center;
	position: relative;
	padding: 16px 0 13px;
	margin-bottom: 55px;
}
.results .page-content .results-form h3 {
    color: white;
    text-align: center;
    font-style: italic;
    text-align: center;
}
.results button {
	background: #f25d5d;
	border-radius: 12px;
    border: none;
	width: 120px;
    padding: 10px;
    margin-top: 55px;
    text-align: center;
	cursor: pointer;
	font-family: sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
    text-decoration: None;
}
.results button:hover {
	background: #cf4141;
}






/* Responsive */
@media screen and (max-width: 1199px) {
	.form-content {
	    margin: 185px 20px;
	}
}
@media screen and (max-width: 767px) {
	.form-content .form-row-total {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
	}
	.form-content .form-row {
		width: 100%;
	}
}
@media screen and (max-width: 575px) {
	.form-content .form-detail {
	    padding: 30px 45px 30px 10px;
	}
}
